 /* Navigation Bar */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-link:hover {
    background-color: #fff;
    color: #333;
  }