/* Base styles for all screen sizes */
.card {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card-image,
.card-image-post {
    width: 100%;
    height: auto;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* Styles for screens larger than 768px */
@media screen and (min-width: 768px) {
    .card {
        padding: 30px;
    }
}

/* Styles for screens larger than 751px */
@media (min-width: 751px) {
    .card-image-post {
        width: auto;
    }
}

/* Styles for screens larger than 1024px */
@media screen and (min-width: 1024px) {
    .card {
        margin-right: 20px;
        margin-left: 20px;
    }
}